$transition: (
  prop: all,
  duration: 0.2s,
  aminatiion: linear,
);

$breakpoints: (
  sm: 650px,
  md: 768px,
  lg: 1024px,
  xl: 1280px,
);

$container: (
  sm: 640px,
  md: 768px,
  lg: 1024px,
  xl: 1200px,
);

:root {
  --bg-color: #282c34;
  --color: #{rgba(#fff, 0.9)};
}
